# Exploratory Data Analysis

In [22]:
# Charement des ibliothèques
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Chargement et inspection initiale
- Lecture du dataset (`pd.read_csv`, `sep=';'`, etc.)
- Vérification du format (`df.shape`, `df.info()`, `df.head()`)
- Vérification des noms de colonnes, types (`df.dtypes`)
- Compter les valeurs uniques par colonne si besoin (`df.nunique()`)
> _Objectif : savoir ce qu’on a entre les mains._

In [23]:
# Chargement des données
df = pd.read_csv("../data/raw/winequality-red.csv", sep=';')

In [24]:
# head
df.head()        # aperçu des données

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [26]:
# Shape
df.shape

(1599, 12)

In [25]:
# Info
df.info()        # types de colonnes et valeurs manquantes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [28]:
# Noms et types de colonnes
df.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

In [29]:
# Comptage de valeurs uniques
df.nunique()

fixed acidity            96
volatile acidity        143
citric acid              80
residual sugar           91
chlorides               153
free sulfur dioxide      60
total sulfur dioxide    144
density                 436
pH                       89
sulphates                96
alcohol                  65
quality                   6
dtype: int64

## Analyse des valeurs manquantes
- Compter les NaN (`df.isna().sum()`)
- Représentation graphique si besoin (`sns.heatmap(df.isna())`)
> _Objectif : identifier où sont les trous, sans encore décider comment les combler._

In [30]:
# Compter les NaN
df.isna().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

## Analyse des doublons
- `df.duplicated().sum()`
- Si besoin, inspection des doublons.
> _Objectif : voir s'il existe des enregistrements répétés._

In [31]:
# Vérifiaction de la présence de doublons
df.duplicated().sum()

np.int64(240)

## Statistiques descriptives
- `df.describe()`
- Moyenne, médiane, écart-type, min, max…
- Distribution de la variable cible (ici : `quality`)
> _Objectif : repérer les tendances, les corrélations, les outliers._

In [27]:
# Descirbe
df.describe()    # statistiques de base

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

## Visualisations exploratoires
- Histogrammes ou KDE plots pour les distributions (`sns.histplot`, `sns.boxplot`)
- Pairplots pour les corrélations (`sns.pairplot`)
- Heatmap de corrélation (`sns.heatmap(df.corr())`)
> _Objectif : repérer les tendances, les corrélations, les outliers._

## Analyse de la cible
- Répartition de la classe cible (`df['quality'].value_counts()`)
- Corrélation entre la cible et les features numériques
> _Objectif : comprendre ce que le modèle devra apprendre et s’il y a un déséquilibre._